.navbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 15px 0px 15px;
  transition: all 500ms; }

.navbar .dropdown-menu .dropdown-item {
  font-family: "Poppins", sans-serif;
  color: #338BFF;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #000000;
  transition: 500ms all; }

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1; }

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #338BFF !important;
  transform: scale(1.1, 1.1); }

.navbar .active {
  color: #338BFF !important; }

@media (min-width: 320px) and (max-width: 425px) {
  .navbar .navbar-brand img {
    width: 230px; }
  .navbar .navbar-nav .nav-item .nav-link {
    margin: 0px 0px 0px 0px; } }

.footer {
  padding-top: 130px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px #CECECE solid;
  font-family: 'Inter', sans-serif; }
  .footer a {
    text-decoration: none;
    color: #232323; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__logo {
    max-width: 100px; }
  .footer__nav {
    list-style: none;
    color: #232323;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0; }
    .footer__nav li {
      margin-bottom: 10px;
      transition: 500ms all; }
    .footer__nav li:hover {
      color: #338BFF;
      transform: scale(1.1, 1.1); }
  .footer__text--bold {
    color: #1c1c1c;
    font-weight: 600; }
  .footer__iconsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
  .footer__icon {
    max-width: 45px;
    cursor: pointer; }
  .footer__copyrightContainer {
    background: linear-gradient(116.58deg, #338BFF 0%, #24AFB5 100%);
    margin-top: 50px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center; }
  .footer__copyright {
    color: #F1F6FD;
    font-weight: 500; }

.carousel .carousel-indicators button {
  height: 10px;
  width: 10px;
  border-radius: 100%; }

.carousel .carousel-control-next {
  z-index: 0; }

.carousel .carousel-inner .carousel-item {
  color: #FAFAFA;
  height: 100vh;
  background-position: center;
  background-size: cover; }
  .carousel .carousel-inner .carousel-item img {
    height: 100%; }
  .carousel .carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden; }
  .carousel .carousel-inner .carousel-item .carousel-caption {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 20px 20px; }
    .carousel .carousel-inner .carousel-item .carousel-caption h3 {
      margin-top: 10px;
      font-weight: 200; }
  .carousel .carousel-inner .carousel-item .carousel-second-caption {
    position: absolute;
    top: 20%;
    right: 22%;
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 5px black;
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 20px 20px; }
  .carousel .carousel-inner .carousel-item .carousel-third-caption {
    position: absolute;
    top: 20%;
    right: 14%;
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 5px black;
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 20px 20px; }

.carousel .carousel-inner .carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

@media (min-width: 1700px) {
  .carousel .carousel-item .carousel-caption {
    top: 30%;
    right: 90%; }
    .carousel .carousel-item .carousel-caption h1 {
      font-size: 55px; }
  .carousel .carousel-item .carousel-second-caption {
    top: 20%;
    right: 0%;
    left: 24%; }
    .carousel .carousel-item .carousel-second-caption h1 {
      font-size: 55px; }
  .carousel .carousel-item .carousel-third-caption {
    top: 20%;
    right: 0%;
    left: 24%; }
    .carousel .carousel-item .carousel-third-caption h1 {
      font-size: 55px; } }

@media (max-width: 992px) {
  .carousel .carousel-inner .carousel-item {
    height: 60vh; }
    .carousel .carousel-inner .carousel-item img {
      height: 100%; } }

@media (min-width: 320px) and (max-width: 430px) {
  .carousel .carousel-indicators {
    visibility: hidden; }
  .carousel .carousel-inner .carousel-item {
    height: 60vh; }
    .carousel .carousel-inner .carousel-item img {
      height: 100%; }
    .carousel .carousel-inner .carousel-item .carousel-caption {
      width: 100%;
      text-align: left;
      backdrop-filter: blur(0px); }
      .carousel .carousel-inner .carousel-item .carousel-caption h3 {
        font-size: 16px; }
      .carousel .carousel-inner .carousel-item .carousel-caption h1 {
        font-size: 20px; }
    .carousel .carousel-inner .carousel-item .carousel-second-caption {
      position: absolute;
      text-align: center;
      width: 70%;
      top: 24%;
      left: 16%;
      font-family: "Inter", sans-serif;
      text-shadow: 3px 3px 5px black;
      backdrop-filter: blur(0px);
      border-radius: 20px 20px 20px 20px; }
      .carousel .carousel-inner .carousel-item .carousel-second-caption h1 {
        font-size: 20px; }
    .carousel .carousel-inner .carousel-item .carousel-third-caption {
      text-align: center;
      width: 90%;
      top: 23%;
      left: 5%;
      backdrop-filter: blur(0px); }
      .carousel .carousel-inner .carousel-item .carousel-third-caption h1 {
        font-size: 20px; } }

@media (min-width: 601px) and (max-width: 992px) {
  .carousel .carousel-indicators {
    visibility: hidden; }
  .carousel .carousel-inner .carousel-item .carousel-second-caption {
    position: absolute;
    text-align: center;
    width: 70%;
    top: 25%;
    left: 16%;
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 5px black;
    backdrop-filter: blur(3px);
    border-radius: 20px 20px 20px 20px; }
  .carousel .carousel-inner .carousel-item .carousel-third-caption {
    text-align: center;
    width: 90%;
    top: 25%;
    left: 5%;
    backdrop-filter: blur(0px); } }

.owl-carousel .item {
  font-family: "Inter", sans-serif;
  min-height: 250px;
  max-height: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #DBDBDB;
  border-radius: 8px; }
  .owl-carousel .item .item__image {
    height: 70px;
    width: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }
  .owl-carousel .item .item__info {
    display: flex; }
    .owl-carousel .item .item__info .item__info-text {
      font-weight: 600; }
    .owl-carousel .item .item__info .item__info-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      list-style: none; }
      .owl-carousel .item .item__info .item__info-list .bi {
        color: #338BFF; }

* {
  margin: 0;
  padding: 0; }

#solutions {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: linear-gradient(0deg, #F1F6FD 8.97%, #F1F6FD 45.38%, rgba(241, 246, 253, 0.17) 100%); }
  #solutions .solutions__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 48px; }
  #solutions .solutions__description {
    padding-top: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px; }
  #solutions .solutions__cards {
    margin: 50px 0px 0px 0px;
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 14px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    #solutions .solutions__cards .solutions__cards-icon {
      display: flex;
      align-items: center; }
      #solutions .solutions__cards .solutions__cards-icon .circle {
        height: 70px;
        width: 70px;
        padding: 15px;
        background: linear-gradient(180deg, #338BFF 0%, #24AFB5 100%);
        box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
        border-radius: 24px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
    #solutions .solutions__cards .solutions__cards-text {
      text-align: left;
      padding: 10px; }
      #solutions .solutions__cards .solutions__cards-text h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 22px; }
      #solutions .solutions__cards .solutions__cards-text p {
        font-family: "Inter", sans-serif;
        font-size: 16px; }

#presentation .presentation__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 40px; }
  #presentation .presentation__text .presentation__text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 48px; }
  #presentation .presentation__text .presentation__text-description {
    font-family: "Inter", sans-serif;
    font-size: 20px; }
  #presentation .presentation__text .presentation__text-button {
    text-decoration: none;
    color: #338BFF;
    font-size: 20px; }

#presentation .presentation__image {
  height: 500px; }

#opinions {
  padding-top: 130px; }
  #opinions .opinions__title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center; }

.banner {
  background-image: url("./img/banner-contacto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .banner-text {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #FAFAFA;
    margin-right: 50px; }
  .banner .banner-button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FAFAFA;
    width: 190px;
    height: 50px;
    background: rgba(41, 202, 209, 0.9);
    border-radius: 6px;
    border: none; }

.whatsapp-icon {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  right: 4%;
  height: 70px;
  width: 70px;
  color: #FAFAFA;
  background: #33c220;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .whatsapp-icon .button {
    z-index: 1;
    text-decoration: none; }

.aboutHero {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(107.11deg, #338BFF 23.54%, #24AFB5 77.17%);
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px; }
  .aboutHero__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #fff; }
  .aboutHero__img {
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: -130px;
    border-radius: 80px; }

.aboutPresentation {
  font-family: "Poppins", sans-serif;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .aboutPresentation__title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -1.2px;
    color: #000000; }
  .aboutPresentation__text {
    margin-top: 40px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px; }

.aboutBanner {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(107.11deg, #338BFF 23.54%, #24AFB5 77.17%);
  padding: 60px 5%;
  margin: 100px 0;
  display: flex;
  justify-content: center; }
  .aboutBanner__text {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    color: #fff; }

.info {
  font-family: "Poppins", sans-serif; }
  .info__textContainer h4 {
    font-weight: 500;
    font-size: 36px;
    color: #000000; }
  .info__textContainer p {
    font-size: 30px;
    color: #232323; }

.separatorLine {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 50px 0; }

.contactHero {
  font-family: "Poppins", sans-serif;
  margin-top: 88px;
  padding: 50px 0;
  background: linear-gradient(116.58deg, #338BFF 0%, #24AFB5 100%); }
  .contactHero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff; }
    .contactHero__info .info__title {
      font-weight: 600;
      font-size: 64px; }
    .contactHero__info .info__subtitle {
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 30px; }
    .contactHero__info .info__text {
      font-weight: 400;
      font-size: 25px; }
  .contactHero__formContainer {
    background-color: #fff;
    border-radius: 50px;
    padding: 50px;
    position: relative; }
  .contactHero__formTitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #232323;
    margin-bottom: 30px; }
  .contactHero__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contactHero__form input, .contactHero__form textarea {
      border: 1px solid #232323;
      width: 100%;
      outline: none;
      border-radius: 10px;
      padding: 10px 30px;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 36px;
      color: #878787; }
      .contactHero__form input.contactHero__formMessage, .contactHero__form textarea.contactHero__formMessage {
        height: 220px;
        resize: none; }
      .contactHero__form input.contactHero__inputError, .contactHero__form textarea.contactHero__inputError {
        border: 2px solid #aa5050; }
  .contactHero__formSubmit {
    background: linear-gradient(116.58deg, #338BFF 0%, #24AFB5 100%);
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    width: 360px;
    padding: 10px 0; }
  .contactHero__formStatusMessage {
    font-size: 20px;
    transition: all .2s ease;
    color: #338BFF;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .contactHero__formStatusMessage span {
      margin-bottom: 5px; }

.contactMap__container {
  overflow: hidden; }

.contactMap__map {
  margin-top: -46px; }

@media (min-width: 320px) and (max-width: 430px) {
  #solutions .solutions__wrap {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; }
  #solutions .solutions__title {
    font-size: 24px; }
  #solutions .solutions__description {
    font-size: 16px; }
  #solutions .solutions__cards {
    margin: 50px 0px 0px 0px; }
    #solutions .solutions__cards .solutions__cards-icon .circle {
      height: 60px;
      width: 60px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
  #presentation .presentation__text .presentation__text-title {
    font-size: 24px; }
  #presentation .presentation__text .presentation__text-description {
    font-size: 16px; }
  #presentation .presentation__text .presentation__text-button {
    font-size: 20px; }
  #presentation .presentation__image {
    height: 300px; }
  #opinions .opinions__title {
    font-size: 24px; }
  .banner {
    text-align: center;
    flex-direction: column;
    justify-content: center; }
    .banner .banner-text {
      font-size: 20px;
      margin: 0 auto;
      padding: 15px; }
    .banner .banner-button {
      margin: 0 auto;
      font-size: 20px;
      color: #FAFAFA;
      background: rgba(41, 202, 209, 0.9);
      border-radius: 6px;
      border: none; }
  .whatsapp-icon {
    height: 60px;
    width: 60px; } }

@media (min-width: 430px) and (max-width: 992px) {
  #solutions .solutions__wrap {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; }
  #solutions .solutions__title {
    font-size: 32px; }
  #solutions .solutions__description {
    font-size: 20px; }
  #solutions .solutions__cards .solutions__cards-icon {
    display: flex;
    align-items: center;
    margin-top: 10px; }
    #solutions .solutions__cards .solutions__cards-icon .circle {
      height: 60px;
      width: 60px;
      margin-left: 15px; }
  #solutions .solutions__cards .solutions__cards-text {
    padding: 20px; }
    #solutions .solutions__cards .solutions__cards-text h3 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 20px; }
    #solutions .solutions__cards .solutions__cards-text p {
      font-family: "Inter", sans-serif;
      font-size: 14px; }
  #presentation .presentation__text .presentation__text-title {
    font-size: 24px; }
  #presentation .presentation__text .presentation__text-description {
    font-size: 16px; }
  #presentation .presentation__text .presentation__text-button {
    font-size: 20px; }
  #presentation .presentation__image {
    height: 300px; }
  #opinions .opinions__title {
    font-size: 24px; }
  .banner {
    text-align: center;
    flex-direction: column;
    justify-content: center; }
    .banner .banner-text {
      font-size: 20px;
      margin: 0 auto;
      padding: 15px; }
    .banner .banner-button {
      margin: 0 auto;
      font-size: 20px;
      color: #FAFAFA;
      background: rgba(41, 202, 209, 0.9);
      border-radius: 6px;
      border: none; }
  .whatsapp-icon {
    height: 60px;
    width: 60px; } }

@media (max-width: 575px) {
  .footer__container {
    flex-direction: column;
    padding-left: 30px; }
    .footer__container > * {
      margin-bottom: 30px; }
  .footer__copyright {
    padding-left: 30px; }
  .contactHero__info .info__title {
    font-size: 40px; }
  .contactHero__info .info__subtitle {
    font-size: 25px; }
  .contactHero__info .info__text {
    font-size: 20px; }
  .contactHero__form input, .contactHero__form textarea {
    font-size: 20px;
    padding: 5px 20px;
    margin-bottom: 30px; }
  .contactHero__formContainer {
    padding: 30px;
    border-radius: 40px; }
  .contactHero__formTitle {
    font-size: 25px; }
  .contactHero__formSubmit {
    width: 100%; }
  .contactHero__formStatusMessage {
    font-size: 18px; }
  .aboutHero__img {
    border-radius: 50px; }
  .aboutPresentation__text {
    font-size: 22px;
    line-height: 40px; }
  .aboutBanner__text {
    font-size: 30px; }
  .info__textContainer h4 {
    font-size: 25px; }
  .info__textContainer p {
    font-size: 20px; } }

@media (max-width: 992px) {
  .contactHero__info {
    margin-bottom: 50px; }
    .contactHero__info .info__title {
      margin-bottom: 40px; }
    .contactHero__info .info__subtitle {
      margin-bottom: 10px; }
    .contactHero__info .info__text {
      margin-bottom: 30px; } }

@media (min-width: 576px) and (max-width: 992px) {
  .footer__container {
    display: grid;
    grid-template-areas: 'logo social' 'services contact'; }
  .footer__logo {
    grid-area: logo; }
  .footer__nav--services {
    grid-area: services; }
  .footer__nav--contact {
    grid-area: contact; }
  .footer__social {
    grid-area: social;
    margin-bottom: 70px; }
  .aboutPresentation__text {
    font-size: 25px;
    line-height: 50px; }
  .aboutBanner__text {
    font-size: 40px; }
  .info__textContainer h4 {
    font-size: 30px; }
  .info__textContainer p {
    font-size: 25px; } }

@media (min-width: 576px) and (max-width: 1200px) {
  .contactHero__info .info__title {
    font-size: 48px; } }
