@media (min-width: 320px) and (max-width: 430px){
    #solutions {
        .solutions__wrap {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .solutions__title{
            font-size: 24px;
        }
        .solutions__description{
            font-size: 16px;
        }
        .solutions__cards{
            margin: 50px 0px 0px 0px;
           .solutions__cards-icon{
               .circle{
                height:60px;
                width:60px;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
               }
            }
        }
    }

    #presentation {
        .presentation__text {
            .presentation__text-title{
                font-size: 24px;
            }
            .presentation__text-description {
                font-size: 16px;
            }
            .presentation__text-button {
                font-size: 20px;
            }
        }
        .presentation__image {
            height: 300px;
        }
    }

    #opinions {
        .opinions__title {
            font-size: 24px;
        }
    }

    .banner {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        .banner-text {
            font-size: 20px;
            margin: 0 auto;
            padding: 15px;
        }
        .banner-button {
            margin: 0 auto;
            font-size: 20px;
            color: $secondary-color;
            background: rgba(41, 202, 209, 0.9);
            border-radius: 6px;
            border: none;
        }
    }
    
    .whatsapp-icon {
        height:60px;
        width:60px;
    }
}

@media (min-width: 430px) and (max-width: 992px){
    #solutions {
        .solutions__wrap {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
        .solutions__title{
            font-size: 32px;
        }
        .solutions__description{
            font-size: 20px;
        }
        .solutions__cards{
           .solutions__cards-icon{
               display: flex;
               align-items: center;
               margin-top: 10px;
               .circle{
                height:60px;
                width:60px;
                margin-left: 15px;
               }
            }
            .solutions__cards-text {
                padding: 20px;

                h3{
                    font-family: $primary-text;
                    font-weight: $font-semi;
                    font-size: 20px;
                }
                
                p{
                    font-family: $secondary-text;
                    font-size: 14px;
                }
            }   
           
        }
    }

    #presentation {
        .presentation__text {
            .presentation__text-title{
                font-size: 24px;
            }
            .presentation__text-description {
                font-size: 16px;
            }
            .presentation__text-button {
                font-size: 20px;
            }
        }
        .presentation__image {
            height: 300px;
        }
    }

    #opinions {
        .opinions__title {
            font-size: 24px;
        }
    }

    .banner {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        .banner-text {
            font-size: 20px;
            margin: 0 auto;
            padding: 15px;
        }
        .banner-button {
            margin: 0 auto;
            font-size: 20px;
            color: $secondary-color;
            background: rgba(41, 202, 209, 0.9);
            border-radius: 6px;
            border: none;
        }
    }
    
    .whatsapp-icon {
        height:60px;
        width:60px;
    }
}

@media (max-width: 575px){
    //Footer
    .footer{
        &__container{
            flex-direction: column;
            padding-left: 30px;
            &>*{
                margin-bottom: 30px;
            }
        }
        &__copyright{
            padding-left: 30px;
        }
    }

    //Contact
    .contactHero{
        &__info{
            .info{
                &__title{
                    font-size: 40px;
                }
                &__subtitle{
                    font-size: 25px;
                }
                &__text{
                    font-size: 20px;
                }
            }
        }
        &__form{
            input, textarea{
                font-size: 20px;
                padding: 5px 20px;
                margin-bottom: 30px;
            }
            &Container{
                padding: 30px;
                border-radius: 40px;
            }
        }
        &__formTitle{
            font-size: 25px;
        }
        &__formSubmit{
            width: 100%;
        }
        &__formStatusMessage{
            font-size: 18px;
        }
    }

    //About
    .aboutHero__img{
        border-radius: 50px;
    }
    .aboutPresentation__text{
        font-size: 22px;
        line-height: 40px;
    }
    .aboutBanner__text{
        font-size: 30px;
    }
    .info__textContainer{
        h4{
            font-size: 25px;
        }
        p{
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {

    //Contact
    .contactHero__info{
        margin-bottom: 50px;
        .info{
            &__title{
                margin-bottom: 40px;
            }
            &__subtitle{
                margin-bottom: 10px;
            }
            &__text{
                margin-bottom: 30px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 992px){

    //Footer
    .footer{
        &__container{
        display: grid;
        grid-template-areas: 'logo social'
                             'services contact';
        }
        &__logo{
            grid-area: logo;
        }
        &__nav{
            &--services{
                grid-area: services;
            }
            &--contact{
                grid-area: contact;
            }
        }
        &__social{
            grid-area: social;
            margin-bottom: 70px;
        }
    }

    //About
    .aboutPresentation__text{
        font-size: 25px;
        line-height: 50px;
    }
    .aboutBanner__text{
        font-size: 40px;
    }
    .info__textContainer{
        h4{
            font-size: 30px;
        }
        p{
            font-size: 25px;
        }
    }

}

@media (min-width: 576px) and (max-width: 1200px) {
    //Contact
    .contactHero{
        &__info{
            .info__title{
                font-size: 48px;
            }
        }
    }
}