.footer{
    padding-top: 130px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px #CECECE solid;
    font-family: 'Inter', sans-serif;
    a{
        text-decoration: none;
        color: $dark-gray;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__logo{
        max-width: 100px;
    }
    &__nav{
        list-style: none;
        color: $dark-gray;
        font-weight: 400;
        margin-bottom: 10px;
        padding: 0;
        li{
            margin-bottom: 10px;
        }
    }
    &__text--bold{
        color: #1c1c1c;
        font-weight: 600;
    }
    &__iconsContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &__icon{
        max-width: 45px;
        cursor: pointer;
    }
    &__copyrightContainer{
        background: linear-gradient(116.58deg, #338BFF 0%, #24AFB5 100%);
        margin-top: 50px;
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
    &__copyright{
        color: #F1F6FD;
        font-weight: 500;
    }
}